Flask==3.0.2
flask-cors==4.0.0
flask-jwt-extended==4.6.0
flask-sqlalchemy==3.1.1
python-dotenv==1.0.1
psycopg2-binary==2.9.9
Werkzeug==3.0.1
gunicorn==21.2.0
PyJWT==2.8.0
SQLAlchemy==2.0.36
requests==2.32.3
APScheduler==3.10.4
